{% extends "layout.html" %}

{% block title %}Kauppalista{% endblock %}

{% block content %}
<h3>Merkitse ostetuksi</h2>
    {% for message in get_flashed_messages() %}
    <p>
      <b>{{ message }}</b>
    </p>
    {% endfor %}
<form method="POST">
    <p>Tuote: {{ item.name }}</p>
    <p>Määrä: {{ item.quantity }}</p>
    <label for="price">Hinta:</label>
    <input type="text" id="price" name="price" required> €
    <br>
    <br>
    <label for="purchased_by_user_id">Ostaja:</label>
    <select id="purchased_by_user_id" name="purchased_by_user_id" required>
        {% for user in users %}
            <option value="{{ user.id }}">{{ user.username }}</option>
        {% endfor %}
    </select>
    <br>
    <br>
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    <button type="submit">Tallenna</button>
</form>
<p>
    <a href="/shopping_list/{{ shopping_list_id }}">
        <button>Peruuta</button>
    </a>
</p>
{% endblock %}