{% extends "layout.html" %}

{% block title %}Shopping List{% endblock %}

{% block content %}
    <h2>You are the last member of the list "{{ shopping_list.name }}"</h2>
    <p>If you leave the list, the entire list will be permanently deleted.</p>
    
    <form action="{{ url_for('leave_shopping_list') }}" method="POST">
        <input type="hidden" name="shopping_list_id" value="{{ shopping_list.id }}">
        <input type="hidden" name="confirm_delete" value="true">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
        <button type="submit">Yes, delete the list permanently</button>
    </form> <br>
    
    <a href="/">
        <button>Cancel</button>
    </a>
{% endblock %}