<!DOCTYPE html>
<html>
<head>
    <title>Muokkaa tuotetta</title>
</head>
<body>
    <h1>Muokkaa tuotetta</h1>
    <form action="{{ url_for('edit_item', shopping_list_id=shopping_list_id, item_id=item.id) }}" method="POST">
        <input type="text" name="name" value="{{ item.name }}" required>
        <input type="text" name="quantity" value="{{ item.quantity }}" required>
        Tuoteryhmät<select name="category_id" required>
            <option value="1">Elintarvike</option>
            <option value="2">Käyttötavara</option>
            <option value="3">Muu</option>
        </select>
        <button type="submit">Tallenna</button>
    </form>
    <a href="{{ url_for('show_shopping_list', shopping_list_id=shopping_list_id) }}">Peruuta</a>
</body>
</html>