{% extends "layout.html" %}

{% block title %}Kauppalista{% endblock %}

{% block content %}

<h2>Omat kauppalistat</h2>
{% for message in get_flashed_messages() %}
  <p>
    <b>{{ message }}</b>
  </p>
  {% endfor %}
{% if own_shopping_lists %}
{% for shopping_list in own_shopping_lists %}
<div class="shopping_list">
    <a class="list_name" href="/shopping_list/{{shopping_list.id}}">{{shopping_list.name}}</a>
  <div class="leave_button">
    <form action="/leave_shopping_list" method="post" style="display: inline;">
      <input type="hidden" name="shopping_list_id" value="{{shopping_list.id}}">
      <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
      <button type="submit">Poistu listasta</button>
    </form>
  </div>
</div>
{% endfor %}
{% else %}
  <p>Sinulla ei ole vielä kauppalistoja.</p>
{% endif %}

<h2>Uusi kauppalista</h2>
<form action="{{ url_for('new_shopping_list') }}" method="post">
    <input type="text" name="name" placeholder="Anna kauppalistan nimi" maxlength="25" required >
    <input type="password" name="password" placeholder="Anna salasana"minlength="3" maxlength="20" required>
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    <button type="submit">Luo</button>
</form>

<h2>Liity kauppalistaan</h2>
<form action="{{ url_for('join_shopping_list') }}" method="post">
    <input type="text" name="name" placeholder="Listan nimi">
    <input type="password" name="password" placeholder="Salasana">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    <button type="submit">Liity</button>
</form>
  {% endblock %}