{% extends "layout.html" %}

{% block title %}Shopping List{% endblock %}

{% block content %}

<h2>My Shopping Lists</h2>
{% for message in get_flashed_messages() %}
  <p>
    <b>{{ message }}</b>
  </p>
  {% endfor %}
{% if own_shopping_lists %}
{% for shopping_list in own_shopping_lists %}
<div class="shopping_list">
    <a class="list_name" href="/shopping_list/{{shopping_list.id}}">{{shopping_list.name}}</a>
  <div class="leave_button">
    <form action="/leave_shopping_list" method="post" style="display: inline;">
      <input type="hidden" name="shopping_list_id" value="{{shopping_list.id}}">
      <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
      <button type="submit">Leave list</button>
    </form>
  </div>
</div>
{% endfor %}
{% else %}
  <p>You do not have any shopping lists yet.</p>
{% endif %}

<h2>New Shopping List</h2>
<form action="{{ url_for('new_shopping_list') }}" method="post">
  <label for="new_list_name">Name:</label>
  <input type="text" name="name" maxlength="25" required >
  <label for="new_list_password">Password:</label>
  <input type="password" name="password" minlength="3" maxlength="20" required>
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
  <button type="submit">Create</button>
</form>

<h2>Join a Shopping List</h2>
<form action="{{ url_for('join_shopping_list') }}" method="post">
  <label for="join_list_name">Name:</label>
  <input type="text" name="name">
  <label for="join_list_password">Password:</label>
  <input type="password" name="password">
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
  <button type="submit">Join</button>
</form>
  {% endblock %}