<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/main.css">
  <title>{% block title %}{% endblock %}</title>
</head>

<body>
    <h1>Kauppalista</h1>
  {% if session.username %}
  <p>Olet kirjautunut nimellä {{ session.username }}</p>
      <p>
        <a href="/"><button>Etusivu</button></a> |
        <a href="/logout"><button>Kirjaudu ulos</button></a>
      </p>

      {% block content %}{% endblock %}

  {% else %}

  <div>
    <h2>Tervetuloa käyttämään Kauppalista-sovellusta!</h2>
    <p>Jos sinulla ei vielä ole tunnuksia, voit <a href="/register" style="font-weight: bold; color: black;">rekisteröityä täällä</a>.</p>
  </div>

  {% for message in get_flashed_messages() %}
  <p>
    <b>{{ message }}</b>
  </p>
  {% endfor %}
  
  <form action="/login" method="post">
    <label for="username">Tunnus:</label><br />
      <input type="text" name="username" />
      <br />
      <label for="password">Salasana:</label><br />
      <input type="password" name="password" /><br />
      <br />
      <input type="submit" value="Kirjaudu" />
  </form>
  {% endif %}
</body>
</html>