<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/main.css">
  <title>{% block title %}{% endblock %}</title>
</head>

<body>
    <h1>Kauppalista</h1>
  {% if session.username %}
  <p>Olet kirjautunut nimellä {{ session.username }}</p>
      <p>
        <a href="/"><button>Etusivu</button></a> |
        <a href="/logout"><button>Kirjaudu ulos</button></a>
      </p>

      {% block content %}{% endblock %}

  {% else %}
  <p>
    <a href="/register"><button>Rekisteröidy</button></a>
    <form action="/login" method="post">
        <p>
          Tunnus: <br />
          <input type="text" name="username" />
        </p>
        <p>
          Salasana: <br />
          <input type="password" name="password" />
        </p>
        <input type="submit" value="Kirjaudu" />
      </form>
  </p>
  {% endif %}
</body>
</html>