<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/main.css">
  <title>{% block title %}{% endblock %}</title>
</head>

<body>
    <h1>Shopping List</h1>
  {% if session.username %}
  <p>You are logged in as {{ session.username }}</p>
      <p>
        <a href="/"><button>Home</button></a> |
        <a href="/logout"><button>Log out</button></a>
      </p>

      {% block content %}{% endblock %}

  {% else %}

  <div>
    <h2>Welcome to the Shopping List application!</h2>
    <p>If you do not have an account yet, you can <a href="/register" style="font-weight: bold; color: black;">register here</a>.</p>
  </div>

  {% for message in get_flashed_messages() %}
  <p>
    <b>{{ message }}</b>
  </p>
  {% endfor %}
  
  <form action="/login" method="post">
    <label for="username">Username:</label><br />
      <input type="text" name="username" />
      <br />
      <label for="password">Password:</label><br />
      <input type="password" name="password" /><br />
      <br />
      <input type="submit" value="Kirjaudu" />
  </form>
  {% endif %}
</body>
</html>