<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/static/main.css">
  <title>Rekisteröinti</title>
</head>

<body>
  <h1>Kauppalista</h1>
  {% for message in get_flashed_messages() %}
  <p>
    <b>{{ message }}</b>
  </p>
  {% endfor %}

  <form action="/create" method="post">
    <p>
      Käyttäjänimi: <br />
      <input type="text" name="username" maxlength="15" required />
    </p>
    <p>
      Salasana: <br />
      <input type="password" name="password1" minlength="3" maxlength="20" required />
    </p>
    <p>
      Salasana uudestaan: <br />
      <input type="password" name="password2" />
    </p>
    <input type="submit" value="Luo tunnus" />
  </form>
  <p>
    <a href="/"><button>Takaisin</button></a>
  </p>
</body>

</html>