<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/static/main.css">
  <title>Rekisteröinti</title>
</head>

<body>
  <h1>Kauppalista</h1>
  {% for message in get_flashed_messages() %}
  <p>
    <b>{{ message }}</b>
  </p>
  {% endfor %}

  <form action="/create" method="post">
    <label for="reg_username">Käyttäjänimi:</label><br />
    <input type="text" id="reg_username" name="username" maxlength="15" required />
    <br />
    <label for="reg_password1">Salasana:</label><br />
    <input type="password" id="reg_password1" name="password1" minlength="3" maxlength="20" required />
    <br />
    <label for="reg_password2">Salasana uudestaan:</label><br />
    <input type="password" id="reg_password2" name="password2" />
    <br />
    <br />
    <input type="submit" value="Luo tunnus" />
  </form>
  <p>
    <a href="/"><button>Takaisin</button></a>
  </p>
</body>

</html>