{% extends "layout.html" %}

{% block title %}Shopping List{% endblock %}

{% block content %}
<h3>User {{ user.username }} - purchases from list: {{ shopping_list.name }}</h3>
<ul>
{% for item in purchased_items %}
  <div class="item_info">
    <div>
      <li>
      {{ item.name }} ({{ item.quantity }}) - {{ item.price }}€ <br />
    </li>
      <small>Purchased: {{ item.purchase_time }}</small>
    </div>
  </div>
{% else %}
    No purchased items
{% endfor %}
</ul>

{% if purchased_items %}
  <h3>Total: {{ total_price }}€</h3>
{% endif %}

{% if overall_total_price is not none %}
  <h4>Total cost of items purchased by all users: {{ "%.2f"|format(overall_total_price) }}€</h4>
  {% if overall_total_price > 0 %}
    <h4>{{ user.username }} has paid {{ "%.2f"|format((total_price / overall_total_price) * 100) }}% of the total amount</h4>
  {% endif %}
{% endif %}

<p>
  <a href="/shopping_list/{{ shopping_list_id }}"><button>Back</button></a>
</p>
{% endblock %}