{% extends "layout.html" %}

{% block title %}Kauppalista{% endblock %}

{% block content %}
<h2>{{ shopping_list.name }}</h2>

<form method="GET" action="{{ url_for('show_shopping_list', shopping_list_id=shopping_list.id) }}">
    <label for="category_filter">Suodata tuoteryhmän mukaan:</label>
    <select id="category_filter" name="category_filter">
        <option value="all">Kaikki</option>
        <option value="1">Elintarvikkeet</option>
        <option value="2">Käyttötavara</option>
        <option value="3">Muu</option>
    </select>
    <button type="submit">Näytä</button>
</form>


{% for item in filtered_items %}
<div class="item">
    <div>
        {{ item.name }} - {{ item.quantity }}
    </div>
    <div class="item_buttons">
        <div class="buy_item">
            <a href="{{ url_for('buy_item', shopping_list_id=shopping_list.id, item_id=item.id) }}"><button>Merkitse ostetuksi</button></a>
        </div>
        <div class="edit_item">
            <a href="{{ url_for('edit_item', shopping_list_id=shopping_list.id, item_id=item.id) }}"><button>Muokkaa</button></a>
        </div>
        <div class="delete_item">
            <form action="{{ url_for('delete_item', shopping_list_id=shopping_list.id, item_id=item.id) }}" method="POST" style="display:inline;">
                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
                <button type="submit">Poista</button>
            </form>
        </div>
    </div>
</div>
{% endfor %}

<h3>Lisää tuote</h3>
<form action="{{ url_for('add_item', shopping_list_id=shopping_list.id) }}" method="POST">
    <label for="item_name">Tuotteen nimi:</label>
    <input type="text" id="item_name" name="name" maxlength="20" required>
    <br>
    <label for="item_quantity">Määrä:</label>
    <input type="text" id="item_quantity" name="quantity" maxlength="10" required>
    <br>
    <label for="item_category">Tuoteryhmä:</label>
    <select id="item_category" name="category_id" required>
        <option value="1">Elintarvike</option>
        <option value="2">Käyttötavara</option>
        <option value="3">Muu</option>
    </select>
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    <button type="submit">Lisää</button>
</form>

<h3>Käyttäjät</h3>
<div class="user_list">
    {% for user in shopping_list_users %}
        <a class="user" href="/user/{{ user.id }}?shopping_list_id={{ shopping_list.id }}">{{ user.username }}</a>
    {% endfor %}
</div>
{% endblock %}