<!DOCTYPE html>
<html>
<head>
    <title>{{ shopping_list.name }}</title>
</head>
<body>
    <h1>{{ shopping_list.name }}</h1>
    <ul>
        {% for item in items %}
            <li>
              {{ item.name }} - {{ item.quantity }}
              <a href="{{ url_for('buy_item', shopping_list_id=shopping_list.id, item_id=item.id) }}"><button>Merkitse ostetuksi</button></a>
              <a href="{{ url_for('edit_item', shopping_list_id=shopping_list.id, item_id=item.id) }}"><button>Muokkaa</button></a>
              <form action="{{ url_for('delete_item', shopping_list_id=shopping_list.id, item_id=item.id) }}" method="POST" style="display:inline;">
                  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
                  <button type="submit">Poista</button>
              </form>
            </li>
        {% endfor %}
    </ul>
    <h2>Lisää tuote</h2>
    <form action="{{ url_for('add_item', shopping_list_id=shopping_list.id) }}" method="POST">
        <input type="text" name="name" placeholder="Tuotteen nimi" required>
        <input type="text" name="quantity" placeholder="Määrä" required>
        Tuoteryhmät<select name="category_id" required>
            <option value="1">Elintarvike</option>
            <option value="2">Käyttötavara</option>
            <option value="3">Muu</option>
        </select>
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
        <button type="submit">Lisää</button>
    </form>
    <h3>Käyttäjät</h3>
    <ul>
        {% for user in shopping_list_users %}
            <li><a href="/user/{{ user.id }}?shopping_list_id={{ shopping_list.id }}"><button>{{ user.username }}</button></a></li>
        {% endfor %}
    </ul>
    <p>
      <a href="/"><button>Takaisin</button></a>
    </p>
</body>
</html>